.container_note {
    background-color: blue;
    width: auto;
    height: 7rem;
    left: auto;
    right: auto;
    margin: 0 auto;
}

.register-note{
    display: flex;
    flex-direction: row;
    gap: 0.85rem;
    align-items: center;
    justify-content: space-evenly;
}

p {
    color: white;
}

.register_bnt{
    padding: 10px 1rem;
    border-radius: 5px;
}

.register_bnt:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(236, 239, 255);
    text-decoration: none;
    transition: .3s;
}

@media screen and (max-width: 350px) {
    p{
        font-size: var(--medium-font-size);
    }

    .register_bnt{
        padding: 8px 0.8rem;
    }
    .register-note{
        padding: 5px;
    }
}