html {
    scroll-behavior: smooth;
}

.banner-image {
    margin: 0;
    padding: 0;
}

.header_img {
    width: 100%;
    height: 15rem;
}

.nav-bar {
    background-color: rgb(37, 99, 255);
    z-index: 1000;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__logo {
    font-size: 15px;
    font-weight: 700;
    color: rgb(255, 200, 0);
    margin-left: 0.95rem;
}

.nav__logo-part {
    color: white;
    font-size: 15px;
}

.nav__head {
    display: flex;
    align-items: center;
}

.nav__link {
    color: white !important; 
    margin-left: 1.5rem;
    font-size: 1rem;
    transition: color 0.3s;
    text-decoration: none;
}

.navToggle {
    border: none;
    background: transparent;
}

@media (max-width: 992px) {
    .header_img {
        height: 10rem;
    }
}

@media (max-width: 768px) {
    .header_img {
        height: 9rem;
    }

    .nav-bar {
        padding: 0.5rem 0;
    }

    .nav__logo,
    .nav__logo-part {
        font-size: 1.25rem;
    }
}

@media (max-width: 576px) {
    .header_img {
        height: 5.8rem;
    }

    .nav-bar {
        padding: 0.5rem 0;
    }

    .nav__logo,
    .nav__logo-part {
        font-size: 1rem;
    }

    .nav__link {
        margin-left: 1rem;
        font-size: 0.9rem;
    }

    .navToggle {
        margin: 0;
    }
}

@media (max-width: 351px) {
    .header_img {
        height: 4rem;
    }

    .nav-bar {
        padding: 0.5rem 0;
    }

    .nav__logo,
    .nav__logo-part {
        font-size: 0.75rem;
    }

    .nav__link {
        margin-left: 0.5rem;
        font-size: 0.75rem;
    }

    .navToggle {
        margin: 0;
    }
}
